@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #191a23;
  --green: #b9ff66;
  --grey: #f3f3f3;
  --green-dark: #21241d;
}

@theme inline {
  --color-background: var(--white);
  --color-dark: var(--dark);
  --color-green: var(--green);
  --color-grey: var(--grey);
  --color-green-dark: var(--green-dark);
  --font-sans: var(--font-geist-sans);
  --text-4xl: 2.5rem;
  --shadow-card: 0px 5px 0px 0px var(--dark);
  --radius-5xl: 2.813rem;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
